<footer>
    <div class="container-footer">
      <div>
          <ul>
            <li>CONTATO</li>
            <li>EMAIL</li>
            <li>TELEFONE</li>
          </ul>
        </div>
      <div>
        <ul>
          <li>LINK INSTITUCIONAL</li>
          <li>LINK INSTITUCIONAL</li>
          <li>LINK INSTITUCIONAL</li>
        </ul>
      </div>
      <div>
        <ul>
          <li>LINK INSTITUCIONAL</li>
          <li>LINK INSTITUCIONAL</li>
          <li>LINK INSTITUCIONAL</li>
        </ul>
      </div>
    </div>
    <div class='align-p'>
       <p>© 2024 Starcoders. Todos os direitos reservados.</p>
    </div>
  </footer>